#root {
  margin: 0 auto;
  height: 100vh;
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  min-width: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
.main-content {
  flex-grow: 1;
  display: flex;
  overflow: auto;
  gap: 40px
}

.flex {
  display: flex;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}